{% extends "base.html" %}


{% block content %}

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <div class="tm-article-carousel">  
        {% for blog in blogs %}
            <article class="tm-bg-white mr-2 tm-carousel-item">
                <img src="{{blog.img.url}}" alt="Image" class="img-fluid">
                <div class="tm-article-pad">
                    <header><h3 class="text-uppercase tm-article-title-2">{{ blog.name }}</h3></header>
                    <p>{{ blog.content }}</p>
                    <a href="{% url "detail" pk=blog.pk type="blog" %}" class="text-uppercase btn-primary tm-btn-primary">Get More Info.</a>
                </div>                                
            </article>
        {% endfor %}
    </div>    
</div>
{% endblock %}